body{
  background-color: rgb(69, 118, 172);
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#border1{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  position: relative;
  height: 200px;
}

#border2{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 560px;
}

#border3{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 100px;
}

.text1{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 float: left;
 position: relative;
 margin-left: 385px;
 margin-top: 75px;
 padding: 10px;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
}

.text2{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
}

.text3{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-top: 35px;
 margin-left: 50px;
 padding-left: 5px;
 width: 75px;
 float: left;
 position: relative;
}

#image1{
 border: 1px solid black;
 float: right;
 margin-right: 30px;
 margin-top: 25px;
 position: relative;
}

#image2{
 border: 1px solid black;
}

#image3{
 border: 1px solid black;
}

#image4{
 border: 1px solid black;
}

#image5{
 border: 1px solid black;
}

#image1,.text1,#image2,#expandedImg,#image3,#image4,#image5 {border-radius: 8px;}

.button1{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 30px;
  margin-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button1 {border-radius: 8px;}

.button1:hover {
    background-color: rgb(99, 148, 202);
}

.button1:active {                         /*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp Dec 3 2021 */
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#expandedImg{
  border: 1px solid black;
  margin-top: 50px;
}

.column {
  float: left;
  width: 5%;
  padding-left: 175px;
  margin-top: 20px;
  margin-left: 85px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  background-color: rgb(69, 118, 172);
  border: 1px solid black;
  color: white;
  font-size: 20px;
  width: 500px;
  margin-top: 10px;
}

/* Closable button inside the image */
.closebtn {
  float: left;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}       /* STOP */

.button2{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 1200px;
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button2 {border-radius: 8px;}

.button2:hover {
    background-color: rgb(99, 148, 202);
}

.button2:active {
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fa {                     /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons Dec 3 2021 */
  padding: 10px;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 30px;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.fa {border-radius: 8px;}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}                        /*STOP*/
